 <div class="header">
   Julie Murray
      <div class="container">
        <ul>
          <li>Who am I?</li>
          <li>Stuff I do</li>
          <li>Contact me</li>
        </ul>
        
      </div>
  
    </div>
<div class="main">
<p>
  The life and tribulations of she who does stuff
  </p> 
  <div class="button">
    View my work
  </div>
  </div>
<div class="footer">
  <i class="fa fa-facebook-square" aria-hidden="true"></i>
  <i class="fa fa-copyright" aria-hidden="true"></i>2006, Julie Murray
  
</div>
  